hr{
    border: 1px solid rgb(29, 29, 29);
}
.hr{
    border-top: 5px solid rgb(241, 196, 144);
}
.btn{
    border: 0px;
    background: none;
    padding: 10px 36px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
}
.btnk{
    border: 0px;
    background: none;
    color:rgb(29, 29, 29);
    cursor: pointer;
    font-family: Helvetica;
    font-size:15px;
}
.btn1{
    color:rgb(29, 29, 29);
}
.btn2{
    color:rgb(131, 131, 131);
}
.btn1:hover{
    color:rgb(131, 131, 131);
}
.sep{
    border-left: 3px solid rgb(29, 29, 29);
    height: 310px;
    position: absolute;
    left: 50%;
    top: 200px
}
.cen{
    text-align: center;
}
